/* font-family: 'Abril Fatface', cursive;
font-family: 'STIX Two Math', serif; */

/* ---====General Style------===== */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=STIX+Two+Math&display=swap" rel="stylesheet');
html{
  scroll-behavior: smooth;
}
body{
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
}
body::before{
    content: "";
    position: fixed;
    background: #040404 url("../Img/backg.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}
@media (min-width: 1024px) {
    body::before{
        background-attachment: fixed;
    }
}
a{
    color: #18d26e;
}
a:hover{
    color: #35e888;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'MonteCarlo', cursive;
}
/* ------======Header-------====== */
#header{
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}
#header *{
    transition: ease-in-out 0.3s;
}
#header h1{
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: 'MonteCarlo', cursive;
}
#header h1 a,
#header h1 a:hover{
    color: #fff;
    line-height: 1;
    display: inline-block;
}
#header h2{
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255,255 , 255, 0.8);
}
#header h2 span{
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
}
#header h2 span:hover{
    color: #fff;
    border-bottom: 2px solid #ff28f4;
    padding-bottom: 6px;
}
/* ------=====Responsiveness====----- */
@media (max-width:992px){
    #header h1{
        font-size: 36px;
    }
    #header h2{
        font-size: 20px;
        line-height: 30px;
    }
    #header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
 /* ------======Navigation Menu-----====== */
